/*to reset defaults*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: #FFFFFF;

}

.sidebar {
  float: left;
  width:200px;
  height: 300px;
  background-color: #EEEEEE;    /* Red */
}

.main {
  float: left;
  width: 650px;
  height: 500px;
  margin: 2em 0;
  background-color: #414141;    /* dark grey */
  position: relative;
  text-align: center;
  color:white;
}

.text {
  clear: both;
  height: 500px;
  background-color: #192841;    /* Light grey */
  color: white;
  float: right;
}

.sub-image{
  float: left;
  width: 300px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}
.page{

  width: 900px;
  margin: 0 auto;

}

.container {
  overflow: hidden;
  background-color: #EAEDF0;
}

li{
  font: 'Lato', 'helvetica';
  margin: 2em 0;
  list-style-type: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 35%;

}
